<div class="heading-box text-center" *ngIf='showButton'>
  <button class="btn btn-primary" (click)="displayForm('admin')">Admin</button>
  <button class="btn btn-warning" (click)="displayForm('manage')">Manage Feature</button>
</div>
<div *ngIf='adminView || managerView' class="container-fluid admin-heading">
  <div class="row">
    <div class="col-sm-10">
      <h3 class="title">WELLS FARGO</h3>
    </div>

    <div class="col-sm-2 text-right">
      <img class="default-user" height="60" width="60" src="../../assets/default_user.png" />
      <fa name="bars" class="toggle-bars"></fa>
    </div>

  </div>
</div>
<div *ngIf='adminView'>

  <div class="container-fluid admin-data-form">
    <div class="row sub-menu">
      <div class="col-md-12">
        <h5>
          <a class="activate-admin" (click)='exit()'> Activate | Exit</a>
        </h5>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h5>Activate Branches</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 filter-section">
          <ngx-select-dropdown (change)="selectionChanged($event)" [(value)]="group" [config]="config" [options]="dropdownOptions"></ngx-select-dropdown>
        <!-- <div class="common-section">
          Select Group
          <fa name="arrow-down" class="pull-right"></fa>
        </div> -->
      </div>
      <div class="col-sm-2">
          <ngx-select-dropdown placeholder='test' (change)="selectionChanged($event)" [(value)]="dividion" [config]="config" [options]="dropdownOptions"></ngx-select-dropdown>
      </div>
      <div class="col-sm-2">
          <ngx-select-dropdown (change)="selectionChanged($event)" [(value)]="region" [config]="config" [options]="dropdownOptions"></ngx-select-dropdown>
      </div>
      <div class="col-sm-2">
          <ngx-select-dropdown (change)="selectionChanged($event)" [(value)]="market" [config]="config" [options]="dropdownOptions"></ngx-select-dropdown>
      </div>
      <div class="col-sm-2">
          <ngx-select-dropdown (change)="selectionChanged($event)" [(value)]="dataModel" [config]="config" [options]="dropdownOptions"></ngx-select-dropdown>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1 activation-date">Activation Date:</div>
      <div class="col-sm-2 padding-none">
        <!-- <input type="text" class="form-control" #dp="bsDatepicker" bsDatepicker [bsValue]="bsValue"> -->
      </div>
      <div class="col-sm-1 text-right">Features:</div>
      <div class="col-sm-3 padding-none">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
          <label class="form-check-label" for="defaultCheck1">
            One Interface
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
          <label class="form-check-label" for="defaultCheck2">
            Manager View
          </label>
        </div>
      </div>
      <div class="col-sm-4 text-right">
        <button class="btn btn-primary"> Search</button>
      </div>

    </div>
    <div class="row">
      <table class="table table-striped table-bordered">
        <thead class="table-heading">
          <tr>
            <th scope="col">Select</th>
            <th scope="col">Branch AU</th>
            <th scope="col">Feature Name</th>
            <th scope="col">Activation Date</th>
            <th scope="col">Edit</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-center">
              <input class="form-check-input" type="checkbox" value="">
            </td>
            <td>0000001</td>
            <td>One Interface</td>
            <td>01/01/2016</td>
            <td class="text-center">
              <fa name="pencil"></fa>
            </td>
          </tr>
          <tr>
            <td class="text-center">
              <input class="form-check-input" type="checkbox" value="">
            </td>
            <td>0000002</td>
            <td>One Interface</td>
            <td>01/01/2016</td>
            <td class="text-center">
              <fa name="pencil"></fa>
            </td>
          </tr>
          <tr>
            <td class="text-center">
              <input class="form-check-input" type="checkbox" value="">
            </td>
            <td>0000003</td>
            <td>One Interface</td>
            <td>01/01/2016</td>
            <td class="text-center">
              <fa name="pencil"></fa>
            </td>
          </tr>
          <tr>
            <td class="text-center">
              <input class="form-check-input" type="checkbox" value="">
            </td>
            <td>0000001</td>
            <td>One Interface</td>
            <td>01/01/2016</td>
            <td class="text-center">
              <fa name="pencil"></fa>
            </td>
          </tr>
          <tr>
            <td class="text-center">
              <input class="form-check-input" type="checkbox" value="">
            </td>
            <td>0000001</td>
            <td>Manager View</td>
            <td>01/01/2016</td>
            <td class="text-center">
              <fa name="pencil"></fa>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
<div *ngIf='managerView' class="container-fluid">
  <div class="row sub-menu">
    <div class="col-md-12">
      <h5>
        <a class="activate-admin" (click)='exit()'>Exit</a>
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h5>
        Managae Feature
      </h5>
    </div>
    <div class="col">

    </div>
    <div class="col">
      <label class="manage-feature">Select Feature Name:</label>
      <select class="manager-dropdown" (change)="selectChangeHandler($event)">
        <option value="oneInterface">One Interface</option>
        <option value="managerView">Manager View</option>
      </select>
      <button class="btn btn-primary" (click)='selectedValue()' style="margin-top: -5px">GO</button>
    </div>
    <div class="col">

    </div>
  </div>
  <div class="row">
      <table class="table table-striped table-bordered">
          <thead class="table-heading">
            <tr>
              <th scope="col">releaseIdentifier</th>
              <th scope="col">app name</th>
              <th scope="col">color</th>
              <th scope="col">height</th>
              <th scope="col">width</th>
              <th scope="col">is fullscreen</th>
              <th scope="col">Edit</th>
              <th scope="col">Save</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of navigationItems">
              <td>{{data.version}}</td>
              <td>{{data.appName}}</td>
              <td>{{data.icon.color}}</td>
              <td>{{data.icon.height}}</td>
              <td>{{data.icon.width}}</td>
              <td>{{data.isFullscreen}}</td>
              <td>
                <img height="20" width="20" src="../../assets/edit.png" />
              </td>
              <td>
                <img height="20" width="20" src="../../assets/save.png" />
              </td>
            </tr>
          </tbody>
        </table>
    <!-- <table class="table table-striped table-bordered">
      <thead class="table-heading">
        <tr>
          <th scope="col">releaseIdentifier</th>
          <th scope="col">property</th>
          <th scope="col">value</th>
          <th scope="col">Edit</th>
          <th scope="col">Save</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of selectedData">
          <td>{{data.releaseIdentifier}}</td>
          <td>{{data.property}}</td>
          <td>{{data.value}}</td>
          <td>
            <img height="20" width="20" src="../../assets/edit.png" />
          </td>
          <td>
            <img height="20" width="20" src="../../assets/save.png" />
          </td>
        </tr>
      </tbody>
    </table> -->
  </div>
</div>